
.advantages {
  display: flex;
}

.catalog-sections {
  display: flex;
}

/* .wedding-bouquets {
  background-image: url(./files/wedding-bouquets.png);
}

.bouquets-with-peonies {
  background-image: url(./files/bouquets-with-peonies.png);
}

.choose-bouquet {
  background-image: url(./files/choose-bouquet.png);
} */

.four-steps > div {
  display: flex;
}

.reviews > div {
  display: flex;
}

.contacts {
  background-image: url(./files/map.png);
}

.contacts div {
  background: white;
  width: 30%;
  height: 80%;
}
