* {
  color: #ae7c78;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

.title {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

.intro .title,
.discount .title {
  font-size: 44px;
  letter-spacing: 0;
}

.intro__text {
  font-size: 24px;
}

.discount .title {
  letter-spacing: 2%;
}

.intro .title .title--mark {
  font-family: 'Playfair Display', serif;
  font-size: 44px;
  font-weight: 400;
  font-style: italic;
}

.popular .title,
.catalog .title,
.steps .title,
.news .title,
.reviews .title,
.contacts .title {
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 2%;
}

.advantages-list__title,
.slider__title,
.slider__price,
.list__title,
.reviews__author,
.contacts__text {
  font-weight: 500;
}

.contacts__item .title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
