:root {
  --primary-color: #ae7c78;
  --secondary-color: #fff;
  --button-color: #d89999;
  --text-size: 16px;
}

* {
  margin: 0;
  /* padding: 0; */

  color: var(--primary-color);
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: var(--text-size);
  /* line-height: 20px; */
  /* text-decoration: none; */
  box-sizing: border-box;
  background: var(--secondary-color);
}

body {
  background: #e5e5e5;
}

.invert {
  color: var(--secondary-color);
  background: var(--primary-color);
}

ul {
  list-style: none;
}

header,
main,
footer {
  background: var(--secondary-color);
  width: 1440px;
}

.title {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

.intro .title,
.discount .title {
  font-size: 44px;
  letter-spacing: 0;
}

.intro__text {
  font-size: 24px;
}

.discount .title {
  letter-spacing: 2%;
}

.intro .title .title--mark {
  font-family: 'Playfair Display', serif;
  font-size: 44px;
  font-weight: 400;
  font-style: italic;
}

.popular .title,
.catalog .title,
.steps .title,
.news .title,
.reviews .title,
.contacts .title {
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 2%;
}

.advantages-list__title,
.slider__title,
.slider__price,
.list__title,
.reviews__author,
.contacts__text {
  font-weight: 500;
}

.contacts__item .title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.button {
  display: inline-block;
  min-width: 285px;
  padding: 30px;
  text-align: center;
  color: var(--secondary-color);
  border-radius: 40px;
  background: var(--button-color);
}

.advantages-list__item {
  text-align: center;
}

.advantages-list__item::before {
  content: '';
  display: block;
  width: 90px;
  height: 52px;
  margin: 0 auto 8px;
}

.advantages-list__item:nth-child(1)::before {
  box-sizing: border-box;
  width: 82px;
  background-color: rgb(0, f, 0);
  background: url('/images/icons/delivery-icon.svg') 50% 50% no-repeat;
  background-size: 80px 52px;
}

.advantages-list__item:nth-child(2)::before {
  background: url('/images/icons/fresh_bouquet-icon.svg') 50% 50% no-repeat;
  background-size: 52px 52px;
}

.advantages-list__item:nth-child(3)::before {
  background: url('/images/icons/send-photo-icon.svg') 50% 50% no-repeat;
  background-size: 58.6px 52px;
}
/* .gallery__img {
  width: ;
  height: ;
} */
