
.authors-bouquets img{
  width: 25%;
  /* height: 25%; */
}

.advantages {
  display: flex;
}

.catalog-sections {
  display: flex;
}

.four-steps > div {
  display: flex;
}

.reviews > div {
  display: flex;
}

.contacts {
  background-image: url(./files/map.png);
}

.contacts div {
  background: white;
  width: 30%;
  height: 80%;
}
